<html>
  <head>
    <title>Facebook Authentication</title>

    <link rel="stylesheet" href="bootstrap.min.css" />
  </head>
  <body>
    <div class="container">
      <div
        class="d-flex align-items-center justify-content-center"
        style="height: 100%"
      >
        <div class="px-5 pb-5 pt-3 text-center border border-dark bg-light">
          <div class="mb-5"><h3>Facebook Profile</h3></div>
          <div class="p-3">
            <img
              class="border border-2 border-dark rounded-circle"
              src="<%= user.avatar %>"
            />
          </div>
          <div class="p-3">
            <span class="fw-bold me-2">id:</span><%= user.id %>
          </div>
          <div class="p-3">
            <span class="fw-bold me-2">Name:</span><%= user.name %>
          </div>
          <div class="p-3">
            <span class="fw-bold me-2">Email:</span><%= user.email %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
